<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><% preact.title %></title>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">

		<!-- external dependencies stores as assets -->
		<script src="/assets/lib/infusion/infusion-all.js"></script>
		<script src="/assets/lib/flocking-midi/connection.js"></script>
		<script src="/assets/lib/flocking-midi/controller.js"></script>
		<script src="/assets/lib/flocking-midi/core.js"></script>
		<script src="/assets/lib/flocking-midi/receiver.js"></script>
		<script src="/assets/lib/flocking-midi/system.js"></script>

		<% preact.headEnd %>
	</head>
	<body>
		<% preact.bodyEnd %>
	</body>
</html>
